@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="预约编号" underline="true"/>
                            <#input id="patientIdcard" name="预约居民身份证号" underline="true"/>
                            <#input id="patientName" name="预约居民姓名"/>
                </div>

                <div class="col-sm-6">
                            <#input id="doctorName" name="预约医生" underline="true"/>
                            <#input id="pointDate" name="预约时间" underline="true"/>
                            <#input id="pointPlace" name="预约地点" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="DoctorPointInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="DoctorPointInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/doctor_point/doctorPoint/doctorPoint_info.js"></script>
@}
