<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.DoctorPointMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.DoctorPoint">
        <id column="id" property="id" />
        <result column="patient_idcard" property="patientIdcard" />
        <result column="patient_name" property="patientName" />
        <result column="doctor_name" property="doctorName" />
        <result column="point_date" property="pointDate" />
        <result column="point_place" property="pointPlace" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, patient_idcard, patient_name, doctor_name, point_date, point_place
    </sql>

</mapper>
