<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.MedicineInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.MedicineInfo">
        <id column="id" property="id" />
        <result column="medicine_name" property="medicineName" />
        <result column="medicine_price" property="medicinePrice" />
        <result column="medicine_value" property="medicineValue" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, medicine_name, medicine_price, medicine_value
    </sql>

</mapper>
